{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mt-4"><i class="fas fa-sign-in-alt me-2"></i> Login</h2>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                
                <div class="mb-3">
                    {{ form.username.label(class="form-control-label") }}
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        {{ form.username(class="form-control", placeholder="Seu nome de usuário") }}
                    </div>
                    {% for error in form.username.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                
                <div class="mb-3">
                    {{ form.password.label(class="form-control-label") }}
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        {{ form.password(class="form-control", placeholder="Sua senha") }}
                    </div>
                    {% for error in form.password.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>

                <div class="form-check mb-3">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                
                <div class="mb-3">
                    <button type="submit" class="btn btn-rivalbusiness w-100">
                        <i class="fas fa-arrow-right me-1"></i> Entrar
                    </button>
                </div>
            </form>
            <p class="mt-3">Não tem conta? <a href="{{ url_for('auth.register') }}">Registre-se</a></p>
        </div>
    </div>
{% endblock %}
