{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <h1 class="mt-4"><i class="fas fa-truck-moving me-2"></i> Criar Modelo de Veículo</h1>
    
    <div class="row">
        <div class="col-md-12">
            <p>Define um novo modelo de veículo para ser comprado na Concessionária.</p>
            
            <form method="POST" action="{{ url_for('manage.create_vehicle_type') }}">
                {{ form.hidden_tag() }}
                <div class="row">
                    <h4 class="mt-4">Identificação e Especificações</h4>
                    <div class="col-md-3">{{ wtf.form_field(form.tipo_veiculo) }}</div>
                    <div class="col-md-3">{{ wtf.form_field(form.nome_display) }}</div>
                    <div class="col-md-3">{{ wtf.form_field(form.capacidade) }}</div>
                    <div class="col-md-3">{{ wtf.form_field(form.velocidade) }}</div>
                <hr>
                    <h4 class="mt-4">Custos e Requisitos</h4>
                    <div class="col-md-3">{{ wtf.form_field(form.custo_tonelada_km) }}</div>
                    <div class="col-md-3">{{ wtf.form_field(form.validade_dias) }}</div>
                    <div class="col-md-3">{{ wtf.form_field(form.nivel_especializacao_req) }}</div>
                    <div class="col-md-3">{{ wtf.form_field(form.custo_money) }}</div>
                    <div class="col-md-3">{{ wtf.form_field(form.custo_gold) }}</div>
                    <div class="col-md-3">{{ wtf.form_field(form.custo_ferro) }}</div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
            </form>
            
            <p class="mt-4">
                <a href="{{ url_for('manage.manage_dashboard') }}" class="btn btn-secondary">Voltar ao Painel</a>
            </p>
        </div>
    </div>
{% endblock %}
